@model Car_Rental_Management_System.Areas.Admin.ViewModels.CarViewModels
@{
    ViewData["Title"] = "Add Car";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="min-height:100vh; background: linear-gradient(135deg, #1e3c72, #2a5298);">
    <div class="form-card bg-info p-4 rounded-3 shadow" style="max-width:700px; width:100%;">
        <form asp-controller="Car" asp-action="AddCar" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="row mb-3">


                <div class="col-md-6 active">
                    <label asp-for="Brand" class="form-label"></label>
                    <select asp-for="Brand" class="form-select">
                        <option value="">Select Brand</option>
                        <option value="Toyota">Toyota</option>
                        <option value="Honda">Honda</option>
                        <option value="BMW">BMW</option>
                        <option value="Audi">Audi</option>
                    </select>



                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>


                <div class="col-md-6">
                    <label asp-for="Mileage" class="form-label"></label>
                    <input asp-for="Mileage" class="form-control" placeholder="Enter mileage" />
                    <span asp-validation-for="Mileage" class="text-danger"></span>
                </div>
            </div>

            @* <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Model" class="form-label"></label>
                    <input asp-for="Model" class="form-control" placeholder="Enter model" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="SeatCount" class="form-label"></label>
                    <input asp-for="SeatCount" type="number" class="form-control" placeholder="Enter seat count" />
                    <span asp-validation-for="SeatCount" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Year" class="form-label"></label>
                    <input asp-for="Year" type="number" class="form-control" placeholder="Enter year" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="PricePerDay" class="form-label"></label>
                    <input asp-for="PricePerDay" class="form-control" placeholder="Enter price" />
                    <span asp-validation-for="PricePerDay" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="GearType" class="form-label"></label>
                    <select asp-for="GearType" class="form-select">
                        <option value="">Select GearType</option>
                        <option value="Automatic">Automatic</option>
                        <option value="Manual">Manual</option>
                    </select>
                    <span asp-validation-for="GearType" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="FuelType" class="form-label"></label>
                    <select asp-for="FuelType" class="form-select">
                        <option value="">Select FuelType</option>

                        <option value="Petrol">Petrol</option>
                        <option value="Diesel">Diesel</option>
                        <option value="Electric">Electric</option>
                    </select>
                    <span asp-validation-for="FuelType" class="text-danger"></span>
                </div>
            </div>

            @*  <div class="mb-3">
            <label asp-for="RegNo" class="form-label"></label>
            <input asp-for="RegNo" type="file" class="form-control" />
            <span asp-validation-for="RegNo" class="text-danger"></span>
            </div> 

            <div class="col-md-6">
                <label asp-for="RegNo" class="form-label"></label>
                <input asp-for="RegNo" class="form-control" placeholder="Enter RegNo" />
                <span asp-validation-for="RegNo" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CarImage" class="form-label"></label>
                <input asp-for="CarImage" type="file" class="form-control" />
                <span asp-validation-for="CarImage" class="text-danger"></span>
            </div>*@

            <div class="text-center">
                <button type="submit" class="btn btn-dark px-4 py-2">Submit Car Details</button>
            </div> 
        </form>
    </div>
</div>
