@model Car_Rental_Management_System.Areas.Admin.ViewModels.BrandViewModels
@{
    ViewData["Title"] = "Add Car";
    
}
<!-- Add Brand Modal -->
<div class="modal fade" id="addBrandModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Brand</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="addBrandForm">
                    <div class="mb-3">
                        <label for="brandName" class="form-label">Brand Name</label>
                        <input type="text" asp-for="Name" id="brandName" name="Name" class="form-control" required />
                    </div>
                    <button type="submit" class="btn btn-success">Saveq</button>
                </form>
            </div>
        </div>
    </div>
</div>
