@model Car_Rental_Management_System.Areas.Admin.ViewModels.CarViewModels
@{
    ViewData["Title"] = " [HttpGet]";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form>

    <div class="mb-3">
        <label class="form-label">Username</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label class="form-label">Fuel Type</label>
        <select class="form-select">
            <option>Petrol</option>
            <option>Diesel</option>
            <option>Electric</option>
        </select>
    </div>
    <div class="col-md-6">
        <label class="form-label">Car  Image</label>
        <input type="text" class="form-control" placeholder="Enter Image">

    </div>
    <button type="submit" class="btn btn-success">Shhave</button>
</form>
